In [1]:
import pandas as pd

In [2]:
input=pd.read_csv('input.csv',header=None)

In [3]:
input.columns=['Temperature', 'Moisture', 'Nitrogen', 'Phosphorous', 'Potassium',
       'pH', 'Electric Conductivity']
input

,Temperature,Moisture,Nitrogen,Phosphorous,Potassium,pH,Electric Conductivity
0,26.2,2.1,2,3,7,7,36

Conversion of N, P, K EC units

In [4]:
for i in range(len(input)):
    a=1.35*10*(input['Nitrogen'][i])
    input['Nitrogen'][i]=a
    b=1.35*10*(input['Phosphorous'][i])
    input['Phosphorous'][i]=b
    c=1.35*10*(input['Potassium'][i])
    input['Potassium'][i]=c
    d=0.1*(input['Electric Conductivity'][i])
    input['Electric Conductivity'][i]=d

C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\2157104822.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Nitrogen'][i]=a
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\2157104822.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Phosphorous'][i]=b
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\2157104822.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Potassium'][i]=c
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\2157104822.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Electric Conductivity'][i]=d

In [5]:
input=input[['Nitrogen', 'Phosphorous', 'Potassium', 'pH',
       'Electric Conductivity', 'Temperature', 'Moisture']]

In [6]:
parameters=input.columns
inputs=input.iloc[0:1,:]
inputs

,Nitrogen,Phosphorous,Potassium,pH,Electric Conductivity,Temperature,Moisture
0,27,40.5,94.5,7,3.6,26.2,2.1

In [7]:
SHC=input.melt( 
        var_name="Parameter", 
        value_name="Test value")
SHC

               Parameter  Test value
0               Nitrogen        27.0
1            Phosphorous        40.5
2              Potassium        94.5
3                     pH         7.0
4  Electric Conductivity         3.6
5            Temperature        26.2
6               Moisture         2.1

Tempertaure=> 20-30
Moisture=> (Paddy, Sugarcane=> 80-85), (Cotton, Maize=> 50-60)=> 50-75%
N=> 280-560
P=> 11-26
K=> 120-280
pH=> >7, =7, <7
Electrical Conductivity=> 0-2 dS/m

In [8]:
std=['280-560','11-26','120-280','7, Neutral','0-2','20-30','50-75']

In [9]:
unit=['Kg/Ha','Kg/Ha','Kg/Ha','H Potenz','dS/m','Â°C','%']

In [10]:
SHC['Unit']=unit

In [11]:
SHC

               Parameter  Test value      Unit
0               Nitrogen        27.0     Kg/Ha
1            Phosphorous        40.5     Kg/Ha
2              Potassium        94.5     Kg/Ha
3                     pH         7.0  H Potenz
4  Electric Conductivity         3.6      dS/m
5            Temperature        26.2        Â°C
6               Moisture         2.1         %

In [12]:
SHC['Rating']=''

In [13]:
# N
if (SHC['Test value'][0]<280):
    SHC['Rating'][0]='Low'
elif(SHC['Test value'][0]>=280 and SHC['Test value'][0]<=560):
    SHC['Rating'][0]='Medium'
elif(SHC['Test value'][0]>560):
    SHC['Rating'][0]='High'
# P
if (SHC['Test value'][1]<11):
    SHC['Rating'][1]='Low'
elif(SHC['Test value'][1]>=11 and SHC['Test value'][1]<=26):
    SHC['Rating'][1]='Medium'
elif(SHC['Test value'][1]>26):
    SHC['Rating'][1]='High'
# K
if (SHC['Test value'][2]<120):
    SHC['Rating'][2]='Low'
elif(SHC['Test value'][2]>=120 and SHC['Test value'][2]<=280):
    SHC['Rating'][2]='Medium'
elif(SHC['Test value'][2]>280):
    SHC['Rating'][2]='High'
# pH
if (SHC['Test value'][3]<6):
    SHC['Rating'][3]='Acidic'
elif(SHC['Test value'][3]>=6 and SHC['Test value'][3]<7):
    SHC['Rating'][3]='Slightly Acidic'
elif(SHC['Test value'][3]==7):
    SHC['Rating'][3]='Neutral'
elif(SHC['Test value'][3]>7 and SHC['Test value'][3]<=8):
    SHC['Rating'][3]='Slightly Basic'
elif(SHC['Test value'][3]>8):
    SHC['Rating'][3]='Basic'
# EC
if (SHC['Test value'][4]<0):
    SHC['Rating'][4]='Low'
elif(SHC['Test value'][4]>=0 and SHC['Test value'][4]<=2):
    SHC['Rating'][4]='Normal'
elif(SHC['Test value'][4]>2):
    SHC['Rating'][4]='High'
# Temperature
if (SHC['Test value'][5]<20):
    SHC['Rating'][5]='Cool'
elif(SHC['Test value'][5]>=20 and SHC['Test value'][5]<=30):
    SHC['Rating'][5]='Ideal'
elif(SHC['Test value'][5]>30):
    SHC['Rating'][5]='Hot'
# Moisture
if (SHC['Test value'][6]<50):
    SHC['Rating'][6]='Low'
elif(SHC['Test value'][6]>=50 and SHC['Test value'][6]<=75):
    SHC['Rating'][6]='Medium'
elif(SHC['Test value'][6]>75):
    SHC['Rating'][6]='High'

C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\3834661790.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SHC['Rating'][0]='Low'
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\3834661790.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SHC['Rating'][1]='High'
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\3834661790.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SHC['Rating'][2]='Low'
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\3834661790.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SHC['Rating'][3]='Neutral'
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\3834661790.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SHC['Rating'][4]='High'
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\3834661790.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SHC['Rating'][5]='Ideal'
C:\Users\Sasha\AppData\Local\Temp\ipykernel_2440\3834661790.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SHC['Rating'][6]='Low'

In [14]:
SHC['Normal Level']=std

In [15]:
print("The soil health card for the given Parameters is: ")
print(SHC)

The soil health card for the given Parameters is:
               Parameter  Test value      Unit   Rating Normal Level
0               Nitrogen        27.0     Kg/Ha      Low      280-560
1            Phosphorous        40.5     Kg/Ha     High        11-26
2              Potassium        94.5     Kg/Ha      Low      120-280
3                     pH         7.0  H Potenz  Neutral   7, Neutral
4  Electric Conductivity         3.6      dS/m     High          0-2
5            Temperature        26.2        Â°C    Ideal        20-30
6               Moisture         2.1         %      Low        50-75

Colouring the SHC

In [16]:
def color_rating(val):
    if val == 'Low':
        color = 'orange'
    elif val=='High':
        color = 'Red'
    elif val=='Normal':
        color='Grey'

    elif val == 'Ideal':
        color = 'green'
    elif val=='Hot':
        color='Red'
    elif val=='Cool':
        color='SkyBlue'

    elif val == 'Neutral':
        color = 'Grey'
    elif val== 'Acidic' or val=='Slightly Acidic':
        color='Red'
    elif val== 'Basic' or val=='Slightly Basic':
        color='Orange'
    
    return 'background-color: %s' % color

SHC_c = SHC.style.applymap(color_rating, subset=['Rating'])

# Coloured pdf
print("Soil Health Card")
SHC_c

Soil Health Card

In [17]:
import chardet
import pandas as pd

with open('farmer_details.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

ssd=pd.read_csv('farmer_details.csv', encoding=result['encoding'],header=None)

In [18]:
ssd

,0,1,2,3,4,5,6
0,Gunesh,e21cseu0871@bennett.edu.in,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,1,2.14Â Acre
1,Ram,abc@gmail.com,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,2,1.14Â Acre
2,Shyam,xyz@gmail.com,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,3,7.43Â Acre
3,Shashank,hello@bennett.edu.in,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,4,5.34Â Acre
4,Jatin,hi@bennett.edu.in,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,5,10Â Acre

In [19]:
ssd.columns=['Name','Email Id','Address','Geo Position (GPS)','Date of Sample Collection','Survey No., Khasra No,/ Dag No,','Farm Size']

In [20]:
ssd

,Name,Email Id,Address,Geo Position (GPS),Date of Sample Collection,"Survey No., Khasra No,/ Dag No,",Farm Size
0,Gunesh,e21cseu0871@bennett.edu.in,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,1,2.14Â Acre
1,Ram,abc@gmail.com,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,2,1.14Â Acre
2,Shyam,xyz@gmail.com,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,3,7.43Â Acre
3,Shashank,hello@bennett.edu.in,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,4,5.34Â Acre
4,Jatin,hi@bennett.edu.in,Bennett University Greater Noida,Longitude - 28.4506Â° N Latitude - 77.5842Â° E,4/8/2023,5,10Â Acre

In [21]:
irr=['Irrigated (Bore well)','Non-Irrigated','Irrigated (Pipeline)','Irrigated (Drip Irrigation)','Non-Irrigated']

In [22]:
ssd['Irrigation Status']=irr

In [23]:
ssd1=ssd[['Name', 'Email Id', 'Address']]
ssd1

       Name                     Email Id                            Address
0    Gunesh   e21cseu0871@bennett.edu.in   Bennett University Greater Noida
1       Ram                abc@gmail.com   Bennett University Greater Noida
2     Shyam                xyz@gmail.com   Bennett University Greater Noida
3  Shashank         hello@bennett.edu.in   Bennett University Greater Noida
4     Jatin            hi@bennett.edu.in   Bennett University Greater Noida

In [24]:
ssd2=ssd[['Date of Sample Collection', 'Survey No., Khasra No,/ Dag No,',
       'Farm Size', 'Irrigation Status','Geo Position (GPS)']]
ssd2

,Date of Sample Collection,"Survey No., Khasra No,/ Dag No,",Farm Size,Irrigation Status,Geo Position (GPS)
0,4/8/2023,1,2.14Â Acre,Irrigated (Bore well),Longitude - 28.4506Â° N Latitude - 77.5842Â° E
1,4/8/2023,2,1.14Â Acre,Non-Irrigated,Longitude - 28.4506Â° N Latitude - 77.5842Â° E
2,4/8/2023,3,7.43Â Acre,Irrigated (Pipeline),Longitude - 28.4506Â° N Latitude - 77.5842Â° E
3,4/8/2023,4,5.34Â Acre,Irrigated (Drip Irrigation),Longitude - 28.4506Â° N Latitude - 77.5842Â° E
4,4/8/2023,5,10Â Acre,Non-Irrigated,Longitude - 28.4506Â° N Latitude - 77.5842Â° E

In [25]:
SSD1=ssd1.T
SSD2=ssd2.T

In [26]:
# SSD1=SSD1.reset_index().rename(columns={'index': 'Personal Info'})
# SSD2=SSD2.reset_index().rename(columns={'index': 'Farm Info'})

In [27]:
SSD1.columns=SSD2.columns=['Farmer1','Farmer2','Farmer3','Farmer4','Farmer5']

In [28]:
Personal_Info=[]
Farm_Info=[]

In [29]:
SSD1_farmer1=SSD1[['Farmer1']]
SSD1_farmer1 = SSD1_farmer1.style.set_caption('Farmer Details')
Personal_Info.append(SSD1_farmer1)

SSD1_farmer2=SSD1[['Farmer2']]
SSD1_farmer2 = SSD1_farmer2.style.set_caption('Farmer Details')
Personal_Info.append(SSD1_farmer2)

SSD1_farmer3=SSD1[['Farmer3']]
SSD1_farmer3 = SSD1_farmer3.style.set_caption('Farmer Details')
Personal_Info.append(SSD1_farmer3)

SSD1_farmer4=SSD1[['Farmer4']]
SSD1_farmer4 = SSD1_farmer4.style.set_caption('Farmer Details')
Personal_Info.append(SSD1_farmer4)

SSD1_farmer5=SSD1[['Farmer5']]
SSD1_farmer5 = SSD1_farmer5.style.set_caption('Farmer Details')
Personal_Info.append(SSD1_farmer5)

In [30]:
SSD2_farmer1=SSD2[['Farmer1']]
SSD2_farmer1 = SSD2_farmer1.style.set_caption('Farm Details')
Farm_Info.append(SSD2_farmer1)

SSD2_farmer2=SSD2[['Farmer2']]
SSD2_farmer2 = SSD2_farmer2.style.set_caption('Farm Details')
Farm_Info.append(SSD2_farmer2)

SSD2_farmer3=SSD2[['Farmer3']]
SSD2_farmer3 = SSD2_farmer3.style.set_caption('Farm Details')
Farm_Info.append(SSD2_farmer3)

SSD2_farmer4=SSD2[['Farmer4']]
SSD2_farmer4 = SSD2_farmer4.style.set_caption('Farm Details')
Farm_Info.append(SSD2_farmer4)

SSD2_farmer5=SSD2[['Farmer5']]
SSD2_farmer5 = SSD2_farmer5.style.set_caption('Farm Details')
Farm_Info.append(SSD2_farmer5)

Random Farmer Input...

In [31]:
for i in range(len(ssd)):
    print(Personal_Info[i])
    print(Farm_Info[i])
    print("\n")

<pandas.io.formats.style.Styler object at 0x000001459A2720D0>
<pandas.io.formats.style.Styler object at 0x000001459A479A10>


<pandas.io.formats.style.Styler object at 0x000001459A46B690>
<pandas.io.formats.style.Styler object at 0x000001459A47A3D0>


<pandas.io.formats.style.Styler object at 0x000001459A050B50>
<pandas.io.formats.style.Styler object at 0x000001459A47A850>


<pandas.io.formats.style.Styler object at 0x000001459A2F5ED0>
<pandas.io.formats.style.Styler object at 0x000001459A47ACD0>


<pandas.io.formats.style.Styler object at 0x0000014599AD1410>
<pandas.io.formats.style.Styler object at 0x000001459A47B150>

Random Farmer Input...

In [32]:
import pandas as pd
from io import StringIO, BytesIO
from xhtml2pdf import pisa
from string import Template as HTMLTemplate

In [ ]:
# Convert dataframes to HTML
html1 = SSD1_farmer1.to_html()
html2 = SSD2_farmer1.to_html()
html3 = SHC_c.to_html()

# Create HTML template
html_template = HTMLTemplate('''
   <html>
     <head>
       <style>
         table, th, td {
           border: 1px solid black;
           border-collapse: collapse;
           padding: 5px;
         }
       </style>
     </head>
     <body>
       <h1>Farmer Details</h1>
       $html1
       <h1>Farm Details</h1>
       $html2
       <h1>Soil Health Card</h1>
       $html3
     </body>
   </html>
''')

In [ ]:
# Merge HTML content
html = html_template.substitute(html1=html1, html2=html2, html3=html3)

In [ ]:
# Convert HTML to PDF
pdf = BytesIO()
pisa.CreatePDF(BytesIO(html.encode('utf-8')), pdf)

# Save PDF to file
with open('SoilHealthCard.pdf', 'wb') as f:
    f.write(pdf.getvalue())

In [1]:
import pandas as pd
from jinja2 import Template

# Create the DataFrame
df = pd.DataFrame({
    'Parameter': ['Nitrogen', 'Phosphorous', 'Potassium', 'pH', 'Electric Conductivity', 'Salinity', 'Temperature', 'Moisture'],
    'Test value': [27.0, 40.5, 94.5, 7.0, 3.6, 3.6, 26.2, 2.1],
    'Unit': ['Kg/Ha', 'Kg/Ha', 'Kg/Ha', 'H Potenz', 'dS/m', 'dS/m', 'Â°C', '%'],
    'Rating': ['Low', 'High', 'Low', 'Neutral', 'High', 'Normal', 'Ideal', 'Low'],
    'Normal Level': ['280-560', '11-26', '120-280', '7, Neutral', '0-2', '2-4', '20-30', '50-75']
})

# Define the Jinja2 template
template = Template("""
<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
    }
    th.Parameter {
      background-color: #99CCFF;
    }
    th.Rating {
      background-color: #FFCC99;
    }
    td.Low {
      background-color: #FFCCCC;
    }
    td.High {
      background-color: #CCFFCC;
    }
    td.Normal {
      background-color: #FFFFCC;
    }
    td.Ideal {
      background-color: #CCFFFF;
    }
  </style>
</head>
<body>
<table>
  <thead>
    <tr>
      <th class="Parameter">Parameter</th>
      <th>Test value</th>
      <th>Unit</th>
      <th class="Rating">Rating</th>
      <th>Normal Level</th>
    </tr>
  </thead>
  <tbody>
    {% for index, row in df.iterrows() %}
      <tr>
        <td class="Parameter">{{ row['Parameter'] }}</td>
        <td>{{ row['Test value'] }}</td>
        <td>{{ row['Unit'] }}</td>
        <td class="{{ row['Rating'] }}">{{ row['Rating'] }}</td>
        <td>{{ row['Normal Level'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>
""")

# Render the template with the DataFrame data
html = template.render(df=df)

# Write the HTML file
with open('output.html', 'w') as f:
    f.write(html)

In [2]:
print(html)

<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
    }
    th.Parameter {
      background-color: #99CCFF;
    }
    th.Rating {
      background-color: #FFCC99;
    }
    td.Low {
      background-color: #FFCCCC;
    }
    td.High {
      background-color: #CCFFCC;
    }
    td.Normal {
      background-color: #FFFFCC;
    }
    td.Ideal {
      background-color: #CCFFFF;
    }
  </style>
</head>
<body>
<table>
  <thead>
    <tr>
      <th class="Parameter">Parameter</th>
      <th>Test value</th>
      <th>Unit</th>
      <th class="Rating">Rating</th>
      <th>Normal Level</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td class="Parameter">Nitrogen</td>
        <td>27.0</td>
        <td>Kg/Ha</td>
        <td class="Low">Low</td>
        <td>280-560</td>
      </tr>

      <tr>
        <td class="Parameter">Phosphorous</td>
        <td>40.5</td>
        <td>Kg/Ha</td>
        <td class="High">High</td>
        <td>11-26</td>
      </tr>

      <tr>
        <td class="Parameter">Potassium</td>
        <td>94.5</td>
        <td>Kg/Ha</td>
        <td class="Low">Low</td>
        <td>120-280</td>
      </tr>

      <tr>
        <td class="Parameter">pH</td>
        <td>7.0</td>
        <td>H Potenz</td>
        <td class="Neutral">Neutral</td>
        <td>7, Neutral</td>
      </tr>

      <tr>
        <td class="Parameter">Electric Conductivity</td>
        <td>3.6</td>
        <td>dS/m</td>
        <td class="High">High</td>
        <td>0-2</td>
      </tr>

      <tr>
        <td class="Parameter">Salinity</td>
        <td>3.6</td>
        <td>dS/m</td>
        <td class="Normal">Normal</td>
        <td>2-4</td>
      </tr>

      <tr>
        <td class="Parameter">Temperature</td>
        <td>26.2</td>
        <td>Â°C</td>
        <td class="Ideal">Ideal</td>
        <td>20-30</td>
      </tr>

      <tr>
        <td class="Parameter">Moisture</td>
        <td>2.1</td>
        <td>%</td>
        <td class="Low">Low</td>
        <td>50-75</td>
      </tr>

  </tbody>
</table>
</body>
</html>